<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Quotes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>May Node and Express be With You</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>
      </form>

      <!-- We need to loop through the quotes. We can do this with a for loop. In EJS, we write a for loop like how we write a JavaScript for loop. The only difference is we need to put the for loop statements between <% %> -->
      <h2>Quotes</h2>

        <ul class="quotes">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= quotes[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
        </ul>

        <!--CRUD Update: For this update operation, we will create a button that replaces the first quote by Yoda to something written by Darth Vader. To do this, we need to add a button into the index.ejs file:-->
        <div>
            <h2>Darth Vader invades!</h2>
            <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
            <button id="update-button">Replace Yoda's quote</button>
        </div>

        <!--The DELETE operation can be triggered through a DELETE request. It’s similar to the UPDATE request so this should be simple if you understand what we’ve done above.-->
        <div>
            <h2>Remove Darth Vader!</h2>
            <p>
              Delete one Darth Vader's quote. Does nothing if there are no more Darth
              Vader's quote
            </p>
            <button id="delete-button">Delete Darth Vader's quote</button>
        </div>

        <div id="message"></div>

    <script type="text/javascript" src="/main.js"></script>
</body>

</html>